/* ================= VARIABLES ================= */
:root {
  --rosa: #e9a6a7;
  --azul: #437eaf;
  --amarillo: #fff8d2;
  --verde: rgb(107, 214, 161);
}

/* ================= BASE ================= */
html, body {
  height: 100%;
  margin: 0;
}

body {
  line-height: 1.6;
  background: 
    linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)),
    url('/img/fondo.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* ================= CARRUSEL ================= */
.carousel-item img {
  width: 100%;
  height: auto;
  background-color: #f8f9fa; 
}

#carouselExampleIndicators{
  max-width: 700px;
  margin: 30px auto;
}

/* ================= NAVBAR ================= */
.navbar-custom {
  background-color: var(--rosa);
  font-family: 'Fjalla One', sans-serif;
  font-size: 18px;
}

.navbar-custom .nav-link,
.navbar-custom .navbar-brand {
  color: white;
}

.navbar-custom .nav-link.active,
.navbar-custom .nav-link:hover {
  color: var(--azul);
}

/* ================= TOPBAR ================= */
.topbar {
  background-color: var(--amarillo);
  padding: 30px 50px;
}

.topbar .form-control {
  max-width: 400px;
}

.icono-topbar {
  font-size: 30px;
  color: var(--azul);
}

.btn-buscar {
  background-color: var(--rosa);
  color: white;
  border: none;
  font-family: 'Fjalla One', sans-serif;
  pointer-events: none;
}

.btn-buscar:hover {
  background-color: var(--azul);
  color: white;
}

/* ================= TEXTOS ================= */
.titulo-bienvenida {
  font-family: 'Titan One', sans-serif;
  font-size: clamp(1.8rem, 4vw, 2.5rem);
  color: var(--azul);
}

.texto-bienvenida {
  font-family: 'Fjalla One', Arial;
  font-size: clamp(1.2rem, 2.5vw, 1.3rem);
  color: var(--rosa);
}

/* ================= CARDS ================= */
.card {
  border: 5px solid var(--rosa);
  border-radius: 15px;
  transition: 0.3s;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card:hover {
  transform: scale(1.02);
}

.card-title {
  font-family: 'Fjalla One', cursive;
  color: var(--verde);
}

.card-text {
  font-family: 'Fjalla One', sans-serif;
  text-align: justify;
}

.card .col-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ================= BOTONES ================= */
.btn-categoria,
.btn-catalogo,
.btn-bcategoria {
  border: none;
  border-radius: 8px;
  color: white;
  transition: 0.3s;
  font-family: 'Fjalla One', sans-serif;
}

.btn-categoria { background-color: var(--verde); }
.btn-catalogo { background-color: var(--azul); }
.btn-bcategoria { background-color: var(--azul); }

.btn-categoria:hover,
.btn-catalogo:hover,
.btn-bcategoria:hover {
  transform: scale(1.05);
}

.btn-categoria:hover{
  background-color: var(--azul);
  color:#fff;
}

.btn-catalogo:hover{
  background-color: var(--verde);
  color:#fff;
}
.btn-bcategoria:hover {
  background-color: var(--verde);
  color: #fff;
}

.btn-bcategoria:focus,
.btn-bcategoria.show {
  background-color: var(--verde);
  color: #fff;
  box-shadow: none;
}

/* ================= CARRUSEL CARDS DEL INICIO================= */
.carousel-card {
  height: 150px;
  width: 100%;
  overflow: hidden;
}

.carousel-card .carousel-inner,
.carousel-card .carousel-item {
  height: 100%;
}

.carousel-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 15px;
  background-color: white;
}

/* ================= FOOTER ================= */
.footer {
  background-color: var(--rosa);
  color: white;
  font-family: "Fjalla One", arial;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.logo-footer {
  width: 150px;
  display: block;
  margin: 0 auto;
}

.icono {
  width: 20px;
  margin-right: 8px;
}

.footer i {
  margin-right: 8px;
}

/* ================= CATALOGO ================= */
.catalogo .card-img-top {
  height: 180px;
  object-fit: contain;
  margin: 0 auto;
}

.catalogo .card-body {
  display: flex;
  flex-direction: column;
}

.catalogo .card-body .btn {
  margin-top: auto;
  background: var(--azul);
  border: none;
  pointer-events: none;
  font-family: 'Fjalla One', arial;
}

.catalogo .card-title {
  min-height: 48px;
}

.catalogo .card-text {
  margin-top: auto;
}

.dropdown-item {
  color: var(--azul);
  font-family: 'Fjalla One', sans-serif;
}

.dropdown-item:hover {
  background-color: var(--rosa);
  color: white;
}

/* ================= TITULOS GENERALES ================= */
.titulo {
  font-family: 'Titan One', cursive;
  font-size: clamp(2rem, 5vw, 4rem);
  color: var(--azul);
}

.subtitulo {
  font-size: clamp(1.8rem, 4vw, 2.5rem);
  font-family: 'Fjalla One', arial;
  color: var(--azul);
}

.subtitulo::after {
  content: "";
  width: 60px;
  height: 5px;
  background: var(--azul);
  display: block;
  margin-top: 10px;
  border-radius: 5px;
}

/* ================= CONTACTO ================= */
.contacto-box {
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.contacto-info {
    background-color: var(--amarillo);
    padding: 30px;
    font-family: 'Fjalla One', Arial;
    text-align: center;
    font-size: 1.15rem; 
}

.contacto-form {
    background-color: var(--rosa);
    padding: 30px;
    font-family: 'Fjalla One', Arial;
}

.contacto-form .form-control {
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 235, 236);
}

.contacto-form .btn {
    background-color: var(--amarillo);
    color: black;
    border: none;
}

.contacto-form .btn:hover {
    background-color: var(--azul);
    color: #fff;
}

.mapa-box {
    background-color: rgb(254, 255, 220);
    border-radius: 25px;
    padding: 25px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    margin-top: 30px;
}

.mapa-box h2 {
    font-family: 'Fjalla One', Arial;
}

.mapa-contenedor iframe {
    border-radius: 15px;
    width: 100%;
    display: block;
}

/* ================= NOSOTROS ================= */
.img-mediana {
  width: 50%;
  max-width: 500px;
  border-radius: 15px;
}

.contenido1, .contenido2, .contenido3 {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 30px 0;
  border-radius: 20px;
  text-align: justify;
  font-family: 'Fjalla One', arial;
  font-size: 18px;
}

.contenido1 { background-color: #fcfcfc; }
.contenido2 { background-color: var(--rosa); }
.contenido3 { background-color: var(--amarillo); }

.contenido3 .subtitulo {
  display: block;
  width: fit-content;  
  margin: 0 auto;       
  position: relative;
}

.contenido3 .subtitulo::after {
  content: "";
  width: 60px;
  height: 5px;
  background: var(--azul);
  position: absolute;
  left: 0;              
  bottom: -10px;
  border-radius: 5px;
}

/* ================= STAFF ================= */
.staff-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%; 
  border: 4px solid #e9a6a7;
  transition: 0.3s;
}

.staff-img:hover {
  transform: scale(1.05);
}

/* ================= ANIMACIONES ================= */
.aparecer {
  animation: fadeUp 1s ease forwards;
}

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(40px); }
  to { opacity: 1; transform: translateY(0); }
}

/* ================= RESPONSIVE ================= */
@media (max-width: 768px) {

  .carousel-item img {
    height: 280px;
  }

  .topbar {
    padding: 15px;
  }

  .img-mediana {
    width: 80%;
    margin: auto;
    display: block;
  }

  .btn {
    width: 100%;
  }

  /* Carousel */
  .carousel-card {
    height: 180px; 
  }

  .carousel-card img {
    object-fit: cover; 
    object-position: center;
    width: 100%;
    max-height: 100%;
  }

  /* Logo */
  .logo-empresa {
    display: none;
  }

  /* Contacto */
  .contacto-box {
    flex-direction: column;
  }

  .contacto-info,
  .contacto-form {
    width: 100%;
  }
}

/* ================= TERMINOS Y PRIVACIDAD ================= */
.terminos-container {
    max-width: 1200px;   
    margin: 0 auto;      
    padding: 40px 20px;
}

.terminos-box {
    background-color: #fff;
    border-radius: 16px;
    padding: 30px;
    text-align: justify;  
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}


.terminos-box h2 {
    margin-top: 20px;
    color: #2c5d8a;
    font-family: 'Fjalla One', arial;
}

.terminos-box p,
.terminos-box li {
    line-height: 1.6;
    color: #444;
    font-size: 20px; 
    text-align: justify;
}



/* ================= COMERCIALIZACION ================= */

.comercio-conteiner{
    max-width: 1000px;   
    margin: 0 auto;      
    padding: 40px 20px;  
}

.comercio-box{
    background-color: #fff;
    border-radius: 16px;
    padding: 30px;
    text-align: center;   
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);

}

/* Cards SOLO del sector comercio */
.comercio-box .card {
    border: 3px solid var(--azul);
    border-radius: 20px;
    background-color: var(--amarillo);
    transition: 0.3s;
}

/* Hover */
.comercio-box .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

/* Título */
.comercio-box .card-title {
    color: var(--azul);
    font-size: 1.3rem;
}

/* Texto */
.comercio-box .card-text {
    text-align: center;
    color: #333;
}

.comercio-box i {
    font-size: 80px;
    color: var(--rosa);
    margin-bottom: 10px;
}

.comercio-box h3{
  font-family: 'Fjalla One', arial;
  color: var(--azul);
}

.comercio-box .subtitulo {
  display: block;
  width: fit-content;  
  margin: auto;       
  position: relative;
}

.comercio-box .subtitulo::after{
  content: "";
  width: 60px;
  height: 5px;
  background: var(--azul);
  position: absolute;
  left: 0;              
  bottom: -10px;
  border-radius: 5px;
}

.comercio-box .row {
  margin-top: 30px;
}

.acordeon-style .accordion-button {
   background-color: var(--amarillo);
   border-radius: 10px;
   color: var(--azul);
   font-family: 'Fjalla One', arial;
}

.accordion-button::after {
  filter: invert(1); /* blanco */
}

.acordeon-style .accordion-item {
   border: none;
   margin-bottom: 10px;
   font-family: 'Fjalla One', arial;
}

.acordeon-style .accordion-body {
   background-color: #fff;
   border-radius: 0 0 10px 10px;
}

/* ================= LOGIN Y REGISTER ================= */
.login-card {
  border: none;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  background-color: var(--rosa);
  width: 100%;
  max-width: 520px;
  font-family: 'Fjalla One', Arial;
  border-radius: 18px;
}

.login-card:hover {
  transform: none;
}

/* FORM */
.login-form .form-control{
  border-radius: 10px;
  border: none;
  background-color: rgb(255, 235, 236);
  padding: 0.55rem 0.8rem;
}

.login-form .form-control:focus{
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 200, 200, 0.6);
}

/* BOTÓN PRINCIPAL */
.login-form .btn{
  background-color: var(--amarillo);
  border: none;
  color: black;
  border-radius: 10px;
  padding: 0.6rem;
  font-weight: 600;
  transition: 0.2s ease;
}

.login-form .btn:hover{
  background-color: var(--azul);
  color: white;
  transform: translateY(-1px);
}

/* INVITADO */
.login-form .btn-outline-secondary{
  border-radius: 10px;
  padding: 0.65rem;
  border: 2px solid rgba(97, 87, 87, 0.2);
  background-color: transparent;
  transition: 0.2s ease;
  margin-top: 10px;
}

.login-form .btn-outline-secondary:hover{
  background-color: rgba(255, 148, 148, 0.432);
  transform: translateY(-1px);
}

/* ESPACIADO GENERAL */
.login-form h2{
  margin-bottom: 1.5rem;
}

.login-form p{
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.password-wrapper {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #6c757d;
  font-size: 1.2rem;
}

.password-toggle:hover {
  color: #000;
}

/*================ BACKEND =================*/

.layout-backend{
    display: flex;
    align-items: stretch;
}

/* SIDEBAR */

.sidebar{
    width: 230px;
    min-width: 230px;
    background-color: #fcfcfc;
    padding: 35px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 15px rgba(0,0,0,0.08);
}

/* SALUDO */

.saludo-sidebar{
    font-family: 'Fjalla One', Arial;
    font-size: 1.7rem;
    line-height: 1.1;
    color: var(--azul);
    margin-bottom: 20px;
}

/* MENU */

.menu-sidebar{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.menu-sidebar a{
    text-decoration: none;
    font-family: 'Fjalla One', Arial;
    font-size: 1rem;
    color: #333;
    transition: 0.2s;
}

.menu-sidebar a:hover{
    color: var(--rosa);
    transform: translateX(5px);
}

/* USUARIO ABAJO */

.usuario-sidebar{
    border-top: 1px solid #ddd;
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 80px;
    font-family: 'Fjalla One', arial;
}

/* AVATAR */

.avatar-sidebar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--rosa);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
}

.usuario-btn{
    border: none !important;
    background: transparent !important;
    width: 100%;
    padding: 0;
    text-align: left;
    box-shadow: none !important;
}

.usuario-btn:hover{
    background: transparent !important;
}

.usuario-btn::after{
    margin-left: auto;
    display: none !important;
}

/* CONTENIDO */

.contenido-backend{
    flex: 1;
    padding: 40px;
}


/* ================= MI CUENTA ================= */

.mi-cuenta-card{
    background-color: #fcfcfc;
    border-radius: 18px;
    border: 4px solid var(--rosa);
    max-width: 760px;
    margin: auto;
    font-family: 'Fjalla One', Arial;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.mi-cuenta-card:hover{
  transform: none;
}

.mi-cuenta-card .card-body{
    padding: 35px 45px;
}

/* TITULO */

.mi-cuenta-titulo{
    color: var(--verde);
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 15px;
}

/* TITULOS DE SECCION */

.seccion-titulo{
  font-family: 'Fjalla One', Arial;
  font-size: 0.95rem;
  color: var(--verde);
  margin-bottom: 15px;
  letter-spacing: 1px;
}

/* LABELS */

.mi-cuenta-card .form-label{
    color: #333;
    margin-bottom: 6px;
    font-size: 0.85rem;
}

/* INPUTS */

.mi-cuenta-card .form-control{
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 235, 236);
    padding: 0.6rem 0.8rem;
    font-family: 'Fjalla One', Arial;
    font-size: 0.9rem;
}

.mi-cuenta-card .form-control:focus{
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 200, 200, 0.6);
    background-color: white;
}

/* BOTON */

.btn-guardar{
    background-color: var(--verde);
    color: white;
    border: none;
    border-radius: 12px;
    padding: 0.7rem 3rem;
    font-family: 'Fjalla One', Arial;
    font-size: 1rem;
    transition: 0.2s ease;
}

.btn-guardar:hover{
    background-color: var(--azul);
    color: white;
    transform: translateY(-2px);
}