.carousel-item img {
  height: auto;
  width: 100%;
  object-fit: contain;
  background-color: #f8f9fa; 
}

#carouselExampleIndicators {
  max-width: 700px;   
  margin: 30px auto;    
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: 
    linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),
    url('/img/fondo.jpg') no-repeat center center fixed;
    background-size: cover;
}

.navbar-custom {
  background-color: #e9a6a7;
  font-family: 'Fjalla One', sans-serif;
  font-size: 18px;
}

.navbar-custom .nav-link,
.navbar-custom .navbar-brand {
  color: rgb(255, 255, 255);
}

.navbar-custom .nav-link.active {
  color: #437eaf;
}

.navbar-custom .nav-link:hover {
  color: #437eaf;
}

.topbar {
  background-color: #fff8d2; 
  padding: 30px 50px;
  color: #ffec70;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  position: sticky;
  top: 100px; 
  z-index: 999;
}

.topbar .form-control {
  width: 100%;
  max-width: 400px;
}

.btn-buscar {
    background-color: #e9a6a7;
    color: white;
    border: none;
    font-family: 'Fjalla One', sans-serif;
}

.btn-buscar:hover {
    background-color: #437eaf; 
    color: white;
}

.icono-topbar {
  font-size: 30px;
  color: #437eaf;
}

.titulo-bienvenida {
  font-family: 'Titan One', sans-serif;
  font-size: 30px;
  color: #437eaf;
}

.texto-bienvenida{
  font-family: 'Titan One', Arial;
  font-size: 20px;
  color: #e9a6a7;
}

.card-title {
    font-family: 'Titan One', cursive;
    color:rgb(107, 214, 161)
}

.card-text {
    font-family: 'Fjalla One', sans-serif;
    text-align: justify;
}

.btn-categoria {
    background-color: rgb(107, 214, 161); 
    color: white;
    border: none;
    border-radius: 8px;
    transition: 0.3s;
    font-family: 'Fjalla One', sans-serif;
}

.card {
    border: 5px solid #e9a6a7; 
    border-radius: 15px;
    transition: 0.3s;
}

.btn-catalogo {
  background-color: #437eaf;
  color: white;
  border: none;
  border-radius: 8px;
  transition: 0.3s;
  font-family: 'Fjalla One', sans-serif;
}

.carousel-card {
  height: 180px; 
  overflow: hidden;
  display: flex;
  align-items: center; 
}

.carousel-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  border-radius: 15px;
  margin-left: 3px;
}

.card .col-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background-color: #e9a6a7; 
  color: white;
  font-family: "Fjalla One", arial;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer a:hover {
  text-decoration: underline;
}

.logo-footer {
  width: 150px;   
  height: auto;  
}

.icono {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
}

.footer i {
  margin-right: 8px;
  color: white; 
}

.footer p {
  margin-bottom: 5px;
}






/*Titulos principales de cada sección "Contacto" - "Sobre nosotros" , etc*/
.titulo{
    font-family: 'Titan One', sans-serif;
    color: #437eaf;
    font-weight: 700;
    font-size: 4.00rem;
}



.col-lg-5 {
    max-width: 500px;
}

.c1{
    max-width: 100%;
    border-radius: 2.5rem;
    background-color: #fff8d2;
    margin: 0 auto;
    
}



strong{
    font-size: 25px;
}

.text-sp span{
  font-size: 22px;
}

/*Formulario de la sección contactos*/
.mi-formulario{
  background-color: #fff8d2;
  border-radius: 2.5rem;
  max-width: 100%;
}

/*Inputs y textarea*/
.mi-formulario .form-control {
    background-color: #f8f9fa;
    border: none;
    border-radius: 12px;
    padding: 12px 15px;
    font-size: 15px;
    transition: all 0.3s ease;
}

/* Efecto al hacer click */
.mi-formulario .form-control:focus {
    background-color: #fff;
    outline: none;
    box-shadow: 0 0 0 2px rgba(25, 135, 84, 0.3);
}

/* Textarea más grande */
.mi-formulario textarea {
    min-height: 140px;
    resize: none;
}

/* Botón */
.mi-formulario .btn {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    transition: 0.3s;
}

/* Hover del botón */
.mi-formulario .btn:hover {
    background-color: #e9a6a7;
}

.mi-formulario .form-control::placeholder {
    color: #999;
}

.mi-formulario .bi-send {
    color: rgb(255, 255, 255);
}

/*Personalización de iconos*/
i {
  margin-right: 8px;
  color: #e9a6a7;
}


.seccion-sobre .col-md-6 p{
  font-size: 1.5em;
}

/* Imagenes de la sección nosotros*/
.img-mediana {
    width: 50%; 
    max-width: 500px; /* Para que no crezca demasiado en pantallas gigantes */
    height: auto;
    border-radius: 15px;
}

/* Maneja el crecimiento de las imagenes en Celulares */
@media (max-width: 768px) {
    .img-mediana {
        width: 80%;   /* más grande en celular */
        margin: 0 auto;
        display: block;
    }

    .subtitulo {
        font-size: 45px;
        text-align: center;
        
    }

    .seccion-sobre .col-md-6 p {
        font-size: 1.1rem;
        text-align: center;
    }
}

/* Maneja el crecimiento de las imagenes en Tablets (iPad incluido) */
@media (min-width: 769px) and (max-width: 1200px) {
    .img-mediana {
        width: 65%;
    }

    .subtitulo {
        font-size: 45px;
    }

    .seccion-sobre .col-md-6 p {
        font-size: 1.3rem;
    }
}

/*Filas de la sección nosotros*/
.contenido1, .contenido2 {
    min-height: 500px; 
    display: flex;
    align-items: center; /* Centra el contenido verticalmente en toda la sección */
}

/*Primer fila de la sección nosotros*/
.contenido1{
  background-color: #fcfcfc;
  
}

/*Primer fila de la sección nosotros "Nuestra misión""*/
.contenido2{
  background-color: #e9a6a7;
}

.contenido3{
  background-color: #fff8d2;
}

/*Segunda fila de la sección nosotros "Historia"*/
.subtitulo {
  font-size: 48px;
  font-family: 'Titan One', sans-serif;
  color: #437eaf;
  position: relative;
}

.subtitulo::after {
  content: "";
  width: 60px;
  height: 5px;
  background: #437eaf;
  display: block;
  margin-top: 10px;
  border-radius: 5px;
}


/*Animación de aparecer en pantalla*/
.aparecer {
  animation: fadeUp 1s ease forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contenido1, .contenido2, .contenido3 {
  padding: 60px 0;
}

.descripcion-text{
  font-family: 'Fjalla One', sans-serif;
  font-size: 2em;
}


